<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">

        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <div class="photo-preview">
                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <h5>Registered Student Details</h5>
              <table>
                <thead></thead>
                <tbody>
                  <tr *ngFor="let student of stuData | keyvalue">
                    <td *ngIf="student.key != 'password'">{{student.key | uppercase}}</td>
                    <td *ngIf="student.key != 'password'">{{student.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
